.profile-card-header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* height: 14rem; */
    border-radius: .25rem .25rem 0 0;
}

.pad1 {
  padding: 1rem;
}

.align-center {
  text-align: center;
}

@media (min-width: 480px) {
    .container {
      max-width: 456px;
    }
}

@media (min-width: 480px) {
    .col-xs {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-xs-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  
    .col-xs-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
  
    .col-xs-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
  
    .col-xs-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-xs-4 {
      flex: 0 0 33.3333333333%;
      /* max-width: 33.3333333333%; */
    }
  
    .col-xs-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
  
    .col-xs-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-xs-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
  
    .col-xs-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
  
    .col-xs-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-xs-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
  
    .col-xs-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
  
    .col-xs-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .order-xs-first {
      order: -1;
    }
  
    .order-xs-last {
      order: 13;
    }
  
    .order-xs-0 {
      order: 0;
    }
  
    .order-xs-1 {
      order: 1;
    }
  
    .order-xs-2 {
      order: 2;
    }
  
    .order-xs-3 {
      order: 3;
    }
  
    .order-xs-4 {
      order: 4;
    }
  
    .order-xs-5 {
      order: 5;
    }
  
    .order-xs-6 {
      order: 6;
    }
  
    .order-xs-7 {
      order: 7;
    }
  
    .order-xs-8 {
      order: 8;
    }
  
    .order-xs-9 {
      order: 9;
    }
  
    .order-xs-10 {
      order: 10;
    }
  
    .order-xs-11 {
      order: 11;
    }
  
    .order-xs-12 {
      order: 12;
    }
  
    .offset-xs-0 {
      margin-left: 0;
    }
  
    .offset-xs-1 {
      margin-left: 8.3333333333%;
    }
  
    .offset-xs-2 {
      margin-left: 16.6666666667%;
    }
  
    .offset-xs-3 {
      margin-left: 25%;
    }
  
    .offset-xs-4 {
      margin-left: 33.3333333333%;
    }
  
    .offset-xs-5 {
      margin-left: 41.6666666667%;
    }
  
    .offset-xs-6 {
      margin-left: 50%;
    }
  
    .offset-xs-7 {
      margin-left: 58.3333333333%;
    }
  
    .offset-xs-8 {
      margin-left: 66.6666666667%;
    }
  
    .offset-xs-9 {
      margin-left: 75%;
    }
  
    .offset-xs-10 {
      margin-left: 83.3333333333%;
    }
  
    .offset-xs-11 {
      margin-left: 91.6666666667%;
    }
}
